@font-face {
    font-family: 'San Francisco';
    src: url('../San Francisco/Eot');
    src: url('../San Francisco/Eot?#iefix') format('embedded-opentype'),
         url('../San Francisco/Woff') format('woff'),
         url('../San Francisco/Woff2') format('woff2'),
         url('../San Francisco/Ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}