/** ICONS **/
.icons-b::before,
.icons-a::after {
  content: '';
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
}


/* .ICONS-B.ABS */
.icons-b.abs::before,
.icons-a.abs::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


/* .ICONS-B.REL */
.icons-b.rel::before,
.icons-a.rel::after {
  display: inline-block;
  position: relative;
}







/******** OBJECTS ********/
/* GUN IN HAND */
.gun-in-hand.filled.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Objects/Gun/Filled.png");
}

.gun-in-hand.outlined.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Objects/Gun/Outlined.png");
}








/* MEDIA CONTROLS */
.search.white.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/AllOS/Content%20Controls/Search/White%20-%201%20-%20Comp.png");
}

.search.black.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/AllOS/Content%20Controls/Search/Black%20-%201%20-%20Comp.png");
}

.play.white.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/AllOS/Content%20Controls/Play/White%20-%201%20-%20Comp.png");
}

.pause.white.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/AllOS/Content%20Controls/Pause/White%20-%201%20-%20Comp.png");
}

.rewind.white.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/AllOS/Content%20Controls/Rewind/White%20-%201%20-%20Comp.png");
}

.forward.white.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/AllOS/Content%20Controls/Forward/White%20-%201%20-%20Comp.png");
}

.forward.white.outline.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Acolorblue/Content%20Controls/Forward/Outline%20-%20White%20-%201.png");
}

.skip.white.icons-b::before {
  background-image: url('https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Skip/Thick%20-%20White%20-%202.png');
}

.reload.icons-b::before {
  background-image: url('https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Reload/3.png');
}






/******** ORGANIZATION - SONY ********/
/**** SONY - PLAYSTATION ****/
.playstation .x.icons-b::before,
.playstation .x.icons-a::after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Sony/Playstation/Controller/X/Black%20-%201%20-%20Comp.png");
}



/* APPLE MEDIA FILE - ICONS IN TITLE */





/* APPLE MEDIA FILE - ZOOM ICONS */
.zoom-in.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Zoom/In/%234f4f4f%20-%201%20-%20Comp.png");
}

.zoom-out.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Zoom/Out/%234f4f4f%20-%201%20-%20Comp.png");
}






/* SINGLE COMMENT FUNCTIONALITY ICONS */
.text-bubble-functions.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Heart/Heart%20-%20CDG%20-%20Eyes%20-%20Grey%20-%201.png");
}

.text-bubble-functions.liked.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Heart/Heart%20-%20CDG%20-%20Eyes%20-%20Red%20-%201.png") !important;
}

.un-follow.icons:before {
  background-image: url("");
}










/******** ORGANIZATION - APPLE ********/
/**** APPLE - LOGO ****/
.apple.white.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/0.%20Logo/White%20-%201%20-%20Comp.png");
}

.apple.black.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/0.%20Logo/Black%20-%201%20-%20Comp.png");
}


/**** APPLE - MacOS ****/
.mac-os .checked.black.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Checked/Black%20-%201%20-%20Comp.png");
}

.mac-os .checked.white.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Checked/White%20-%201%20-%20Comp.png");
}

.mac-os .menu-bar .notification-center.black.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Notification%20Center/Black%20-%201%20-%20Comp.png");
}

.mac-os .menu-bar .notification-center.white.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Notification%20Center/White%20-%201%20-%20Comp.png");
}

.mac-os .share.white.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Share/White%20-%201%20-%20Comp.png");
}

.mac-os .share.grey.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Share/Grey%20-%201.png");
}

.close.white.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Close/White%20-%201%20-%20Comp.png");
}

.close.grey.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Close/Grey%20-%201%20-%20Comp.png");
}

.minimize.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Minimize/Black%20-%201.png");
}

.full-screen.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Full%20Screen/Black%20-%201.png");
}

.application .video.icons-b:before {
  background-image: url('https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Souncloud%20Play%20-%20Pause%20Button/Play%20White%20-%204.png');
}

.application.image-app .amf-title-entire-container.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Image%20Preview/Title%20-%20Thumbnail.png");
}

.application.image-app .amf-title-entire-container.icons:after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Image%20Preview/Title%20-%20More%20Info.png");
}


/**** APPLE - iOS  ****/
.battery.low-power-mode.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/Battery/Low%20Power%20Mode/Yellow%20-%201%20-%20Comp.png");
}

.ios .email.icons-b {
  background: -webkit-linear-gradient(top, #1a51f0 0%, #03e4fe 100%);
}

.ios .email.icons-b:before {
   background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Email%20-%20White%201.png");
}

.app-store.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/AllOS/App%20Store/White%20-%201%20-%20Comp.png");
  background-size: 12.6px;
}

.ios .alert-container.translucent:before {
  background-image: url("https://acolorblueserver.com/commenting/logo-background.jpg");
}

.ios .alert.sign-out .confirm::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/Alert/Power%20Off/Shut%20Down/Red%20-%201%20-%20Comp.png");
}

.ios .alert.sign-out .cancel::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/Alert/Power%20Off/Cancel/White%20-%201%20-%20Comp.png");
}


/**** iOS - iMESSAGE ****/
.ios .imessage .avi.icons {
  background: linear-gradient(#a4aaba, #888b92);
  border-radius: 50%;
}

.ios .imessage .avi.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Anonymous%20User/Person%20-%202.png");
}

.ios .imessage .reply.left.filled.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Reply/Left/Filled%20-%20Grey.png");
}

.ios .imessage .reply.right.filled.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Reply/Right/Filled%20-%20Grey.png");
}

.ios .imessage .trash.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/Photos/Trash/Filled%20-%20Grey.png");
}

.ios .imessage .follow.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Follow/Grey%20-%203.png");
}

.ios .camera.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/Camera/White%20-%201.png");
}

.ios .imessage .expand-right.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Minimize%20Text%20Input/Grey%20-%201.png");
}

.ios .imessage .send-message.icons {
  background-color: #0070eb;
  border-radius: 50%;
}

.ios .imessage .send-message.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Send/Blue%20-%201.png");
}

.ios .imessage .gifs.icons {
  background-color: #fa0244;
}

.ios .imessage .expand-left-blue.icons-b:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Expand%20Buttons/Expand%20Left%20-%20Blue%201.png");
}

.ios .imessage .expand-right.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Expand%20Buttons/Expand%20-%20Right%20-%201.png");
}

.ios .imessage .embed-window .expand.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Embed%20Window/Expand/Grey%20-%201.png");
}

.ios .imessage .embed-window .shrink.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Embed%20Window/Shrink/Grey%20-%201.png");
}

.ios .imessage .mute.icons-b:before {
  background-image: url("hhttps://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Mute/Line%20Through%20-%20Grey%20-%202.png");
}

.ios .imessage .heart.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Comme%20Des%20Garcons/0.%20Logo/Rounded/Grey%20-%201.png");
}

.ios .imessage .liked .heart.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Comme%20Des%20Garcons/0.%20Logo/Rounded/Red%20%2B%20Black%20-%201.png") !important;
}







/******** ORGANIZATION - ROCKSTAR GAMES ********/
.rockstar-games.icons-b:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/Loader/Gta%20Loader/Rockstar/Logo%20-%201.png");
}


/**** ROCKSTAR GAMES - GTA ****/
.gta .info.icons-b::before,
.gta .info.icons-a::after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Rockstar/GTA/Info%20Alert/White%20-%201%20-%20Comp.png");
}

.gta .loading-circle.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Rockstar/GTA/Loading/Gradient%20Circle%20-%201.gif");
}







/******** ORGANIZATION - G.O.O.D MUSIC ********/
.good-music.icons-b:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/Loader/Gta%20Loader/Kanye/Logo%20-%201.png");
}








/******** ORGANIZATION - SOUNDCLOUD ********/
.soundcloud.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Soundcloud/0.%20Logo/Orange%20-%201%20-%20Comp.png");
}








/******** ORGANIZATION - BLONDED ********/
.blonded.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Blonded/0.%20Logo/Black%20-%201%20-%20Comp.png");
}








/******** ORGANIZATION - TWITTER ********/
.twitter.white.icons-b {
  background-color: #00C3F3;
}

.twitter.white.icons-b:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/0.%20Logo/White%20-%201%20-%20Comp.png");
}

.twitter.black.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/0.%20Logo/Black%20-%201%20-%20Comp.png");
}

.twitter .extra-options.icons-b::before,
.twitter .extra-options.icons-a::after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Extra%20Options/Blue%20-%201%20-%20Comp.png");
}

.twitter .verified .display-name.icons-a:after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Verified/White%20-%201%20-%20Comp.png");
}

.twitter .private .header-user-info .display-name:after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Private/White%20-%201%20-%20Comp.png");
}

.twitter .verified.private .header-user-info .display-name::after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Verified%20%2B%20Private/White%20-%201%20-%20Comp.png");
}

.twitter .dm.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/DM/Blue%20-%201.png");
}

.twitter .location.icons-b::before,
.twitter .location.icons-a::after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Twitter%20Icons/Regular%20Mode%20Icons/Location%20-%20Grey%20-%205.png");
}

.twitter .main-link.icons-b::before,
.twitter .main-link.icons-a::after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Link/Grey%20-%201.png");
}

.twitter .birthday.icons-b::before,
.twitter .birthday.icons-a::after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Birthday/Grey%20-%201.png");
}

.twitter .post-info:after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Expand%20Buttons/Post%20Info%20-%203.png");
}

.twitter .video.icons-b:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Video%20Play/White%20%2B%20Blue%20-%201%20-%20Comp.png");
}

.twitter .reply.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Reply/Grey%20-%201%20-%20Comp.png");
}

.twitter .retweeted.icons-b::before,
.twitter .retweeted.icons-a::after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Retweet/Grey%20-%201%20-%20Comp.png");
}

.twitter .likes.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Like/Grey%20-%201.png");
}







/******** ORGANIZATION - INSTAGRAM ********/
.instagram.gradient.icons-b {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.instagram.white.icons-b:before {
   background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Instagram/0.%20Logo/White%20-%201%20-%20Comp.png");
}

.instagram.black.icons:before {
   background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Instagram/0.%20Logo/Black%20-%201%20-%20Comp.png");
}








/******** ORGANIZATION - TUMBLR ********/
.tumblr.icons-b {
  background-color: #35465c;
}

.tumblr.white.icons-b:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Tumblr/0.%20Logo/White%20-%201%20-%20Comp.png");
}

.tumblr.black.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Tumblr/0.%20Logo/Black%20-%201%20-%20Comp.png");
}








/******** ORGANIZATION - YOUTUBE ********/
.youtube.white.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Youtube/0.%20Logo/White%20-%201%20-%20Comp.png");
}

.youtube.red.icons-b::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Youtube/0.%20Logo/Red%20-%201%20-%20Comp.png");
}







/******** ORGANIZATION - ACOLORBLUE ********/
.acolorblue.background.icons-b::before {
  background-image: url("");
}

.acolorblue.foreground.icons-b::before {
  background-image: url("");
}
