/** ICONS **/
.icon::before {
  content: '';
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}








/******** ORGANIZATION - SONY ********/
/**** SONY - PLAYSTATION ****/
.playstation .x.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Sony/Playstation/Controller/X/Black%20-%201%20-%20Comp.png");
}








/******** ORGANIZATION - APPLE ********/
/**** APPLE - LOGO ****/
.apple.white.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/0.%20Logo/White%20-%201%20-%20Comp.png");
}

.apple.black.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/0.%20Logo/Black%20-%201%20-%20Comp.png");
}




/**** APPLE - AllOS ****/
.search.white.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/AllOS/Content%20Controls/Search/White%20-%201%20-%20Comp.png");
}

.search.black.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/AllOS/Content%20Controls/Search/Black%20-%201%20-%20Comp.png");
}

.play.white.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/AllOS/Content%20Controls/Play/White%20-%201%20-%20Comp.png");
}

.pause.white.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/AllOS/Content%20Controls/Pause/White%20-%201%20-%20Comp.png");
}

.rewind.white.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/AllOS/Content%20Controls/Rewind/White%20-%201%20-%20Comp.png");
}

.forward.white.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/AllOS/Content%20Controls/Forward/White%20-%201%20-%20Comp.png");
}

.forward.white.outline.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Acolorblue/Content%20Controls/Forward/Outline%20-%20White%20-%201.png");
}




/**** APPLE - MacOS ****/
.mac-os .checked.black.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Checked/Black%20-%201%20-%20Comp.png");
}

.mac-os .checked.white.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Checked/White%20-%201%20-%20Comp.png");
}

.mac-os .menu-bar .notification-center.black.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Notification%20Center/Black%20-%201%20-%20Comp.png");
}

.mac-os .menu-bar .notification-center.white.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Notification%20Center/White%20-%201%20-%20Comp.png");
}

.mac-os .share.white.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Share/White%20-%201%20-%20Comp.png");
}

.mac-os .share.grey.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Share/Grey%20-%201.png");
}

.close.white.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Close/White%20-%201%20-%20Comp.png");
}

.close.grey.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Close/Grey%20-%201%20-%20Comp.png");
}

.minimize.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Minimize/Black%20-%201.png");
}

.full-screen.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Full%20Screen/Black%20-%201.png");
}

.application.image-app .amf-title-entire-container.icon:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Image%20Preview/Title%20-%20Thumbnail.png");
}

.application.image-app .amf-title-entire-container.icon::after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Image%20Preview/Title%20-%20More%20Info.png");
}

.zoom-in.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Zoom/In/%234f4f4f%20-%201%20-%20Comp.png");
}

.zoom-out.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/MacOS/Zoom/Out/%234f4f4f%20-%201%20-%20Comp.png");
}




/**** APPLE - iOS  ****/
.battery.low-power-mode.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/Battery/Low%20Power%20Mode/Yellow%20-%201%20-%20Comp.png");
}

.ios .email.icon {
  background: -webkit-linear-gradient(top, #1a51f0 0%, #03e4fe 100%);
}

.ios .email.icon:before {
   background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/Email/White%20-%201%20-%20Comp.png");
}

.app-store.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/AllOS/App%20Store/White%20-%201%20-%20Comp.png");
}

.ios .alert.sign-out .confirm::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/Alert/Power%20Off/Shut%20Down/Red%20-%201%20-%20Comp.png");
}

.ios .alert.sign-out .cancel::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/Alert/Power%20Off/Cancel/White%20-%201%20-%20Comp.png");
}


/**** iOS - iMESSAGE ****/
.ios .imessage .avi.icons {
  background: linear-gradient(#a4aaba, #888b92);
  border-radius: 50%;
}

.ios .imessage .avi.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Anonymous%20User/Person%20-%202.png");
}

.ios .imessage .reply.left.filled.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Reply/Left/Filled%20-%20Grey.png");
}

.ios .imessage .reply.right.filled.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Reply/Right/Filled%20-%20Grey.png");
}

.ios .imessage .trash.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/Photos/Trash/Filled%20-%20Grey.png");
}

.ios .imessage .follow.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Follow/Grey%20-%203.png");
}

.ios .imessage .unfollow.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Follow/Grey%20-%203.png");
}

.ios .camera.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/Camera/White%20-%201.png");
}

.ios .imessage .expand-right.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Minimize%20Text%20Input/Grey%20-%201.png");
}

.ios .imessage .send.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Send/Blue%20-%201.png");
}

.ios .imessage .gifs.icons {
  background-color: #fa0244;
}

.ios .imessage .expand-right.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Minimize%20Text%20Input/Grey%20-%201.png");
}

.ios .imessage .embed-window .expand.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Embed%20Window/Expand/Grey%20-%201.png");
}

.ios .imessage .embed-window .shrink.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Embed%20Window/Shrink/Grey%20-%201.png");
}

.ios .imessage .mute.icon:before {
  background-image: url("hhttps://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Apple/iOS/iMessage/Mute/Line%20Through%20-%20Grey%20-%202.png");
}

.ios .imessage .heart.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Comme%20Des%20Garcons/0.%20Logo/Rounded/Grey%20-%201.png");
}

.ios .imessage .liked .heart.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Comme%20Des%20Garcons/0.%20Logo/Rounded/Red%20%2B%20Black%20-%201.png");
}







/******** ORGANIZATION - ROCKSTAR GAMES ********/
.rockstar-games.icon:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Rockstar/0.%20Logo/Yellow%20%2B%20Black%20-%201%20-%20Comp.png");
}


/**** ROCKSTAR GAMES - GTA ****/
.gta .info.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Rockstar/GTA/Info%20Alert/White%20-%201%20-%20Comp.png");
}

.gta .loading-circle.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Rockstar/GTA/Loading/Gradient%20Circle%20-%201.gif");
}







/******** ORGANIZATION - G.O.O.D MUSIC ********/
.good-music.icon:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/G.O.O.D%20Music/0.%20Logo/White%20%2B%20Black%20-%201%20-%20Comp.png");
}








/******** ORGANIZATION - SOUNDCLOUD ********/
.soundcloud.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Soundcloud/0.%20Logo/Orange%20-%201%20-%20Comp.png");
}








/******** ORGANIZATION - BLONDED ********/
.blonded.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Blonded/0.%20Logo/Black%20-%201%20-%20Comp.png");
}








/******** ORGANIZATION - TWITTER ********/
.twitter.white.icon {
  background-color: #00C3F3;
}

.twitter.white.icon:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/0.%20Logo/White%20-%201%20-%20Comp.png");
}

.twitter.black.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/0.%20Logo/Black%20-%201%20-%20Comp.png");
}

.twitter .extra-options.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Extra%20Options/Blue%20-%201%20-%20Comp.png");
}

.twitter .verified .display-name.icons-a:after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Verified/White%20-%201%20-%20Comp.png");
}

.twitter .private .header-user-info .display-name:after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Private/White%20-%201%20-%20Comp.png");
}

.twitter .verified.private .header-user-info .display-name::after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Verified%20%2B%20Private/White%20-%201%20-%20Comp.png");
}

.twitter .dm.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/DM/Blue%20-%201.png");
}

.twitter .location.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Location/Grey%20-%201%20-%20Comp.png");
}

.twitter .main-link.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Link/Grey%20-%201.png");
}

.twitter .birthday.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Birthday/Grey%20-%201.png");
}

.twitter .post-info:after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Tweet%20Owner%20Menu/Grey%20-%201.png");
}

.twitter .video.icon:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Video%20Play/White%20%2B%20Blue%20-%201%20-%20Comp.png");
}

.twitter .reply.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Reply/Grey%20-%201%20-%20Comp.png");
}

.twitter .retweeted.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Retweet/Grey%20-%201%20-%20Comp.png");
}

.twitter .likes.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Twitter/Like/Grey%20-%201.png");
}







/******** ORGANIZATION - INSTAGRAM ********/
.instagram.gradient.icon {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.instagram.white.icon:before {
   background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Instagram/0.%20Logo/White%20-%201%20-%20Comp.png");
}

.instagram.black.icon::before {
   background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Instagram/0.%20Logo/Black%20-%201%20-%20Comp.png");
}








/******** ORGANIZATION - TUMBLR ********/
.tumblr.icon {
  background-color: #35465c;
}

.tumblr.white.icon:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Tumblr/0.%20Logo/White%20-%201%20-%20Comp.png");
}

.tumblr.black.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Tumblr/0.%20Logo/Black%20-%201%20-%20Comp.png");
}








/******** ORGANIZATION - YOUTUBE ********/
.youtube.white.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Youtube/0.%20Logo/White%20-%201%20-%20Comp.png");
}

.youtube.red.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Youtube/0.%20Logo/Red%20-%201%20-%20Comp.png");
}







/******** ORGANIZATION - ACOLORBLUE ********/
.acolorblue.background.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Acolorblue/0.%20Logo/Background/1%20-%20Comp.jpg");
}

.acolorblue.foreground.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Acolorblue/0.%20Logo/Foreground/1%20-%20Comp.jpg");
}

.skip.white.icon::before {
  background-image: url('https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Skip/Thick%20-%20White%20-%202.png');
}

.reload.icon::before {
  background-image: url('https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Reload/3.png');
}

.gun-in-hand.filled.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Acolorblue/Gun%20In%20Hand/Filled.png");
}

.gun-in-hand.outlined.icon::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Icons/Organizations/Acolorblue/Gun%20In%20Hand/Outlined.png");
}
