@font-face {
    font-family: 'Ahamono Monospaced';
    src: url('../Ahamono Monospaced/Ahamono Monospaced.eot');
    src: url('../Ahamono Monospaced/Ahamono Monospaced.eot?#iefix') format('embedded-opentype'),
    	 url('../Ahamono Monospaced/Ahamono Monospaced.woff2') format('woff2'),
         url('../Ahamono Monospaced/Ahamono Monospaced.woff') format('woff'),
         url('../Ahamono Monospaced/Ahamono Monospaced.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}