@font-face {
    font-family: 'Template';
    src: url('../Template/Template.eot'),
    	 url('../Template/Template.woff2') format('woff2'),
         url('../Template/Template.woff') format('woff'),
         url('../Template/Template.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}