@font-face {
    font-family: 'Pricedown';
    src: url('../Pricedown/eot');
    src: url('../Pricedown/eot?#iefix') format('embedded-opentype'),
    	 url('../Pricedown/woff') format('woff'),
    	 url('../Pricedown/woff2') format('woff2'),
         url('../Pricedown/ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}