@font-face {
    font-family: 'DJB Get Digital';
    src: url('../DJB Get Digital/DJB Get Digital.eot'),
    	 url('../DJB Get Digital/DJB Get Digital.woff2') format('woff2'),
         url('../DJB Get Digital/DJB Get Digital.woff') format('woff'),
         url('../DJB Get Digital/DJB Get Digital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}