/* LOADER */
.loader .gta {
  width: inherit;
  height: inherit;
  background-color: #111;
  color: #ffffff;
  position: inherit;
}

.loader .gta .foreground-layer {
  width: inherit;
  height: inherit;
  z-index: 1;
}

.width-longer .loader .gta .foreground-layer {
  -webkit-transform: translateZ(950px);
}

.loader .gta .foreground-layer .product-logo {
  font-family: Pricedown;
  text-transform: lowercase;
  text-shadow: none;
}

.loader .gta .foreground-layer .product-logo.icon {
  width: 180px;
  height: 180px;
  color: transparent;
  top: auto;
  right: auto;
  bottom: 20px;
  left: 20px;
}

.loader .gta .foreground-layer .product-logo.icon::before {
  width: inherit;
  height: inherit;
  background-size: contain;
  background-position: bottom;
}

.loader .gta .foreground-layer .product-logo.text {
  width: 210px;
  font-size: 55px;
  color: white;
  line-height: 0.85;
  -webkit-text-stroke: 2.4px black;
}

.loader .gta .foreground-layer .product-logo.text.reading::after {
  color: #eee;
}

.loader .gta .foreground-layer .organization-logo {
  width: 40px;
  height: 40px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
}

.loader .gta .foreground-layer .organization-logo::before {
  background-size: contain;
}


/* LOADER - INFO CONTAINER */
.loader .gta .foreground-layer .info-container {
  width: auto;
  height: auto;
  border: 4px solid #000000;
  border-radius: 4px;
  overflow: hidden;
  background-color: rgba(17, 17, 17, .7);
  padding: 1%;
  font-family: Sans-Serif;
  font-size: 13px;
  line-height: 1.3;
  color: #ffffff;
  top: auto;
  opacity: 0;
}

.loader .gta .foreground-layer .info-container.show {
  opacity: 1;
}

.loader .gta .info-container.loading-indicator {
  background-color: #000000;
  right: 20px;
  bottom: 70px;
  left: auto;
}

.loader .gta .info-container.battery-adjustment,
.loader .gta .info-container.open-in-different-browser,
.loader .gta .info-container.fast-forward-automated-text {
  width: 200px;
}

.loader .gta .info-container.battery-adjustment {
  right: auto;
  bottom: 200px;
  left: 20px;
}

.android .loader .gta .info-container.battery-adjustment .title {
  color: red;
}

.computer.windows .loader .gta .info-container.open-in-different-browser.firefox {
  right: auto;
  bottom: 186px;
  left: 20px;
}

.mobile .loader .gta .info-container.open-in-different-browser {
  right: 20px;
  bottom: 116px;
  left: auto;
}

.loader .gta .info-container.skip-loader {
  top: 20px;
  right: 20px;
  bottom: auto;
  left: auto;
}

.loader .gta .info-container.fast-forward-automated-text {
  top: 20px;
  right: auto;
  bottom: auto;
  left: 20px;
}


/* LOADER - INFO CONTAINER - ICONS */
.loader .gta .foreground-layer .info-container .icon {
  width: 14px;
  height: 14px;
  position: relative;
  display: inline-block;
  margin-top: auto;
  margin-right: 4px;
  margin-bottom: -3px;
  margin-left: 4px;
}

.loader .gta .info-container .icon.battery.low-power-mode {
  width: 18px;
}

.loader .gta .info-container .icon.play-station-x {
  margin-left: 0px;
}

.loader .gta .info-container .icon::before {
  width: inherit;
  height: inherit;
  background-size: contain;
} 


/* LOADER - BACKGROUND LAYER */
.loader .gta .background-layer {
  width: inherit;
  height: inherit;
}

.loader .gta .background-layer .animations-container {
  width: inherit;
  height: inherit;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.loader .gta .animations-container.show {
  opacity: 1;
}

.loader .gta .animations-container div {
  background-position: center;
  background-repeat: no-repeat;
}


/* LOADER - SCENE */
.width-longer .loader .gta .animations-container .scene {
  width: 80%;
  height: 80%;
  background-size: contain;
}

.height-longer .loader .gta .animations-container .scene {
  background-size: cover;
}


/* LOADER - CHARACTER */
.loader .gta .animations-container .character {
  background-size: contain;
  background-position: bottom;
  background-position-x: 50%; 
}

.width-longer .loader .gta .animations-container .character {
  background-size: auto 95%;
}

.height-longer .loader .gta .animations-container .character {
  background-size: 90% auto;
}








/******** VERSION - GTA 5 ********/
/*^ LOADER - ANIMATIONS CONTAINER ^*/
.width-longer .loader .gta.five .animations-container .scene {
  transform: perspective(211px) rotateX(-1deg) rotateY(2deg) rotateZ(1deg);
  transform-origin: center center 0px;
}

.height-longer .loader .gta.five .animations-container .scene {
  background-position-x: 50%;
  transition: background-position-x 4s linear;
}

.width-longer .loader .gta.five .animations-container .scene.move {
  -webkit-animation: gta-V-loading-scene-rotation 19.5s linear;
}

@-webkit-keyframes gta-V-loading-scene-rotation {  
  0% {
    transform: perspective(122px) rotateX(-3deg) rotateY(0deg) rotateZ(-2deg);
  }

  100% { 
    transform: perspective(211px) rotateX(-1deg) rotateY(2deg) rotateZ(1deg);
  }
}

.height-longer .loader .gta.five .animations-container .scene.move {
  background-position-x: 60%;
}

.gta.five .animations-container.michael .scene {
  background-image: url("https://acolorblue.co/libraries/Organizations/Rockstar%20Games/GTA/5/Interfaces/Loader/Michael/Scene/Vinewood%20-%20Comp.jpg");
}

.gta.five .animations-container.trevor .scene {
  background-image: url("https://acolorblue.co/libraries/Organizations/Rockstar%20Games/GTA/5/Interfaces/Loader/Trevor/Scene/Water%20Mount%20%2B%20Mountain%20-%20Comp.jpg");
}

.gta.five .animations-container.franklin-and-chop .scene {
  background-image: url("https://acolorblue.co/libraries/Organizations/Rockstar%20Games/GTA/5/Interfaces/Loader/Franklin%20And%20Chop/Scene/Liquor%20Store%20-%20Comp.jpg");
}

.width-longer .loader .gta.five .animations-container .character {
  -webkit-transform: translateZ(900px);
  transition: background-position-x 4s linear;
}

.width-longer .loader .gta.five .animations-container .character.move {
  background-position-x: 60%;
}

.gta.five .animations-container.michael .character {
  background-image: url("https://acolorblue.co/libraries/Organizations/Rockstar%20Games/GTA/5/Interfaces/Loader/Michael/Character/Gun%20%2B%20Suit%20-%20Comp.png");
}

.gta.five .animations-container.trevor .character {
  background-image: url("https://acolorblue.co/libraries/Organizations/Rockstar%20Games/GTA/5/Interfaces/Loader/Trevor/Character/Bike%20%2B%20Gun%20-%20Comp.png");
}

.gta.five .animations-container.franklin-and-chop .character {
  background-image: url("https://acolorblue.co/libraries/Organizations/Rockstar%20Games/GTA/5/Interfaces/Loader/Franklin%20And%20Chop/Character/Bat%20%2B%20Chop%20Barking%20-%20Comp.png");
}








/******** VERSION - GTA CUSTOM ********/
/*^ LOADER - PRODUCT LOGO ^*/
.loader .gta .foreground-layer .product-logo.text {
  height: 145px;
}


/*^ LOADER - ANIMATIONS CONTAINER ^*/
.gta.custom .animations-container.kanye .scene {
  background-image: url("https://acolorblue.co/libraries/Organizations/Rockstar%20Games/GTA/Custom/Interfaces/Loader/Kanye/Scene/Hallway%20-%20Comp.jpg");
}

.height-longer .loader .gta.custom .animations-container.kanye .character {
  background-size: auto 90%;
}

.gta.custom .animations-container.kanye .character {
  background-image: url("https://acolorblue.co/libraries/Organizations/Rockstar%20Games/GTA/Custom/Interfaces/Loader/Kanye/Character/Hat%20%2B%20Juice%20%2B%20Phone%20-%20Comp.png");
}
